/*----------------------------*/
body,header,nav,#menu_content ul,#menu_content ul li,main,footer {
	margin: 0;
	padding: 0;
}
body {
	background: #eee;
	color: #333;
	font-family: "meiryo";
	font-size: 13px;
}
/*----------------------------*/
header,main,footer {
	display: block;
}
	header,footer {
		position: fixed;
		width: 100%;
		background: #333;
		color: #eee;
		text-align: center;
		z-index: 500;
	}
/*----------------------------*/
header {
	top: 0;
	width: 100%;
	padding: 10px 0;
	font-size: 20px;
	font-weight: bold;
	font-family: "Yu Mincho","YuMincho";
}
	header div {
		margin: 0 0 0 30px;
		letter-spacing: 10px;
	}

footer {
	bottom: 0;
	padding: 3px 0;
}
/*----------------------------*/
#menubar {
	top: 5px;
	right: 5px;
	display: block;
	position: fixed;
	padding: 5px;
	background: #333;
	border: none;
	outline: none;
	cursor: pointer;
	z-index: 999;
	transition: 0.5s;
}
.bar {
	display: block;
	height: 4px;
	width: 100%;
	border-radius: 2px;
}
#menu_content {
	margin-top: 53px;
	padding: 0;
	display: block;
	position: fixed;
	overflow: hidden;
	z-index: 999;
	max-height: 0;
	width: 100%;
}
	#menu_content.open {
		max-height: 500px;
		transition: max-height 1.5s ease-out;
		-webkit-transition: max-height 1.5s ease-out;
		-moz-transition: max-height 1.5s ease-out;
		-o-transition: max-height 1.5s ease-out;
	}
#menu_content ul {
	background: #eee;
}
#menu_content ul,#menu_content ul li {
	list-style: none;
	display: block;
	width: 100%;
}
	#menu_content ul li a {
		padding: 5px 10px;
		display: block;
		background: #333;
		color: #eee;
		font-family: "Yu Mincho","YuMincho";
		font-weight: bold;
		text-align: center;
		text-decoration: none;
		border-bottom: 1px solid #eee;
		width: 100%;
	}
		#menu_content ul li a:hover {
			background: #720000;
			color: #eee;
			transition: 2s;
			-webkit-transition: 2s;
			-moz-transition: 2s;
			-o-transition: 2s;
		}
/*----------------------------*/
main {
	padding: 80px 20px 50px;
}
a {
	color: #333;
	text-decoration: none;
}
.text-small {
	font-size: 10px;
}
.border {
	margin: 5px 0;
	width: 50%;
	border: 1px solid #333;
}