/*------------------------------------------------------------
								default / list
------------------------------------------------------------*/

body,header,footer,nav,#menu_content ul,#menu_content ul li {
	margin: 0;
	padding: 0;
}
header,#menu_content ul li a {
	font-family: "Yu Mincho","YuMincho";
}

/*--------------------------------------------------*/

body {
	background: #eee;
	color: #333;
	font-family: "meiryo";
	font-size: 13px;
}
	a {
		color: #333;
		text-decoration: none;
	}

/*--------------------------------------------------*/

header,footer {
	width: 100%;
	display: flex;
	position: fixed;
	justify-content: center;
	align-items: center;
	background: #333;
	color: #eee;
	z-index: 800;
}
	header {
		top: 0;
		height: 55px;
	}
	footer {
		bottom: 0;
		height: 35px;
	}
		header div {
			margin: 0 0 0 30px;
			padding: 10px 0;
			font-size: 20px;
			font-weight: bold;
			letter-spacing: 10px;
		}

/*--------------------------------------------------*/

#menubar {
	top: 5px;
	right: 5px;
	display: block;
	position: fixed;
	padding: 5px;
	background: #333;
	border: none;
	outline: none;
	cursor: pointer;
	z-index: 999;
	transition: 0.5s;
}
.bar {
	display: block;
	height: 4px;
	width: 100%;
	border-radius: 2px;
}
#menu_content {
	margin-top: 56px;
	padding: 0;
	display: block;
	position: fixed;
	overflow: hidden;
	z-index: 999;
	max-height: 0;
	width: 100%;
}
	#menu_content.open {
		max-height: 500px;
		transition: max-height 1.5s ease-out;
		-webkit-transition: max-height 1.5s ease-out;
		-moz-transition: max-height 1.5s ease-out;
		-o-transition: max-height 1.5s ease-out;
	}
#menu_content ul {
	background: #eee;
}
#menu_content ul,#menu_content ul li {
	list-style: none;
	display: block;
	width: 100%;
}
	#menu_content ul li a {
		padding: 5px 10px;
		display: block;
		background: #333;
		color: #eee;
		font-weight: bold;
		text-align: center;
		text-decoration: none;
		border-bottom: 1px solid #eee;
		width: 100%;
	}
		#menu_content ul li a:hover {
			background: #720000;
			color: #eee;
			transition: 2s;
			-webkit-transition: 2s;
			-moz-transition: 2s;
			-o-transition: 2s;
		}

/*--------------------------------------------------*/

main {
	padding: 85px 50px;
}

/*--------------------------------------------------*/
.text-small {
	font-size: 10px;
}

.border {
	margin: 5px 0;
	width: 50%;
	border: 1px solid #333;
}

#all_main_contents {
	display: flex;
}

ul#target-menu {
	list-style: none;
	background-image: url("../images/nav_back_image.png");
	background-color:rgba(255,255,255,0.5);
	background-blend-mode:lighten;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}
	ul#target-menu li a.tag {
		color: #000;
	}


/*------------------------------------------------------------
								media screen
------------------------------------------------------------*/
@media screen and(min-width: 1024px;){
	#text-tag-menu {
		margin: 0;
		width: 120px;
		position: fixed;
	}
	ul#target-menu {
		padding: 0;
	}
		ul#target-menu li {
			border-right: 2px solid #000;
			border-left: 2px solid #000;
		}
			ul#target-menu li a{
				padding: 5px 0;
				display: block;
				text-align: center;
			}
					ul#target-menu li a:first-child {
						border-top: 2px solid #000;
					}
					ul#target-menu li#last {
						border-bottom: 2px solid #000;
					}
	#text-content {
		flex: 1;
		margin-left: 150px;
		position: relative;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	#text-tag-menu {
		margin: 0;
		width: 120px;
		position: fixed;
	}
	ul#target-menu {
		padding: 0;
	}
		ul#target-menu li {
			border-right: 2px solid #000;
			border-left: 2px solid #000;
		}
			ul#target-menu li a{
				padding: 5px 0;
				display: block;
				text-align: center;
			}
					ul#target-menu li a:first-child {
						border-top: 2px solid #000;
					}
					ul#target-menu li#last {
						border-bottom: 2px solid #000;
					}
	#text-content {
		flex: 1;
		margin-left: 150px;
		position: relative;
	}
}

@media screen and (min-width: 600px) and (max-width: 767px) {
	#text-tag-menu {
		border-bottom: 2px solid #333;
		z-index: 400;
	}
	#text-tag-menu {
		top: 56px;
		left: 0;
		width: 100%;
		position: fixed;
	}
		#text-tag-menu ul {
			width: 100%;
		}
	ul#target-menu {
		margin: 0;
		padding: 0;
		text-align: center;
	}
		ul#target-menu li {
				padding: 15px 8px;
				text-align: center;
				display: inline-block;
		}
			ul#target-menu li a{
				display: block;
				text-decoration: underline;
			}
					ul#target-menu li a:first-child {
						border-top: 0;
					}
					ul#target-menu li#last {
						border-bottom: 0;
					}
	#text-content {
		flex: 1;
		margin-top: 60px;
		display: block;
		position: relative;
	}
}

@media screen and (min-width: 480px) and (max-width: 599px) {
	#text-tag-menu {
		border-bottom: 2px solid #333;
		z-index: 400;
	}
	#text-tag-menu {
		top: 56px;
		left: 0;
		width: 100%;
		position: absolute;
	}
		#text-tag-menu ul {
			width: 100%;
		}
	ul#target-menu {
		margin: 0;
		padding: 0;
		text-align: center;
	}
		ul#target-menu li {
				padding: 15px 20px;
				text-align: center;
				display: inline-block;
		}
			ul#target-menu li a{
				display: block;
				text-decoration: underline;
			}
					ul#target-menu li a:first-child {
						border-top: 0;
					}
					ul#target-menu li#last {
						border-bottom: 0;
					}
	#text-content {
		flex: 1;
		margin-top: 80px;
		display: block;
		position: relative;
	}
}

@media screen and (max-width: 479px) {
	#text-tag-menu {
		top: 56px;
		left: 0;
		width: 100%;
		position: absolute;
	}
		#text-tag-menu ul {
			width: 100%;
		}
	ul#target-menu {
		margin: 0;
		padding: 0;
		text-align: center;
	}
		ul#target-menu li {
				padding: 15px 20px;
				text-align: center;
				display: inline-block;
		}
			ul#target-menu li a{
				display: block;
				text-decoration: underline;
			}
					ul#target-menu li a:first-child {
						border-top: 0;
					}
					ul#target-menu li#last {
						border-bottom: 0;
					}
	#text-content {
		flex: 1;
		margin-top: 80px;
		display: block;
		position: relative;
	}
}

@media screen and (max-width: 479px) {
	#text-tag-menu {
		top: 56px;
		left: 0;
		width: 100%;
		position: absolute;
	}
		#text-tag-menu ul {
			width: 100%;
		}
	ul#target-menu {
		margin: 0;
		padding: 0;
		text-align: center;
	}
		ul#target-menu li {
				padding: 15px 20px;
				text-align: center;
				display: inline-block;
		}
			ul#target-menu li a{
				display: block;
				text-decoration: underline;
			}
					ul#target-menu li a:first-child {
						border-top: 0;
					}
					ul#target-menu li#last {
						border-bottom: 0;
					}
	#text-content {
		flex: 1;
		margin-top: 80px;
		display: block;
		position: relative;
	}
}

