/*-----------------------------------*/
#index-text-title {
	margin: 0;
}
#index-text-content {
	margin: 25px 0;
	border: 1px solid #777;
}
	#index-text-content ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
		#index-text-content ul li {
			margin: 0;
			padding: 10px 20px;
			border-bottom: 1px solid #777;
		}
			#index-text-content ul li:last-child {
				border: none;
			}
		#index-text-content ul li p {
			font-weight: bold;
		}
/*-----------------------------------*/
