/*--------------- TagMenu ---------------*/
#all_main_contents {
	display: flex;
}
ul#target-menu {
	list-style: none;
}
	ul#target-menu li a.tag {
		color: #000;
	}

@media screen and (min-width: 1024px) {
	#text-tag-menu {
		margin: 0;
		width: 120px;
		position: fixed;
	}
	ul#target-menu {
		padding: 0;
		background-image: url("../images/nav_back_image.png");
		background-color: rgba(255,255,255,0.5);
		background-color: -webkit-rgba(255,255,255,0.5);
		background-color: -moz-rgba(255,255,255,0.5);
		background-color: -ms-rgba(255,255,255,0.5);
		background-color: -o-rgba(255,255,255,0.5);
		background-blend-mode: lighten;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		overflow: hidden;
	}
		ul#target-menu li {
			border-right: 2px solid #000;
			border-left: 2px solid #000;
		}
			ul#target-menu li a{
				padding: 5px 0;
				display: block;
				text-align: center;
			}
				ul#target-menu li a:hover{
					background: rgba(255, 255, 255, 0.6);
					transition: 2s;
				}
					ul#target-menu li a:first-child {
						border-top: 2px solid #000;
					}
					ul#target-menu li#last {
						border-bottom: 2px solid #000;
					}
	#text-content {
		flex: 1;
		margin-left: 150px;
		position: relative;
	}
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	#text-tag-menu {
		margin: 0;
		width: 120px;
		position: fixed;
	}
	ul#target-menu {
		padding: 0;
		background-image: url("../images/nav_back_image.png");
		background-color: rgba(255,255,255,0.5);
		background-color: -webkit-rgba(255,255,255,0.5);
		background-color: -moz-rgba(255,255,255,0.5);
		background-color: -ms-rgba(255,255,255,0.5);
		background-color: -o-rgba(255,255,255,0.5);
		background-blend-mode: lighten;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		overflow: hidden;
	}
		ul#target-menu li {
			border-right: 2px solid #000;
			border-left: 2px solid #000;
		}
			ul#target-menu li a{
				padding: 5px 0;
				display: block;
				text-align: center;
			}
				ul#target-menu li a:hover{
					background: rgba(255, 255, 255, 0.6);
					transition: 2s;
				}
					ul#target-menu li a:first-child {
						border-top: 2px solid #000;
					}
					ul#target-menu li#last {
						border-bottom: 2px solid #000;
					}
	#text-content {
		flex: 1;
		margin-left: 150px;
		position: relative;
	}
}
@media screen and (min-width: 600px) and (max-width: 767px) {
	#text-tag-menu {
		top: 56px;
		left: 0;
		width: 100%;
		position: fixed;
	}
		#text-tag-menu ul {
			width: 100%;
		}
	ul#target-menu {
		margin: 0;
		padding: 0;
		background-image: url("../images/nav_back_image.png");
		background-color: rgba(255,255,255,0.5);
		background-color: -webkit-rgba(255,255,255,0.5);
		background-color: -moz-rgba(255,255,255,0.5);
		background-color: -ms-rgba(255,255,255,0.5);
		background-color: -o-rgba(255,255,255,0.5);
		background-blend-mode:lighten;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		overflow: hidden;
		text-align: center;
	}
		ul#target-menu li {
				padding: 15px 8px;
				text-align: center;
				display: inline-block;
		}
			ul#target-menu li a{
				display: block;
				text-decoration: underline;
			}
				ul#target-menu li a:hover{
					background: rgba(255, 255, 255, 0);
				}
					ul#target-menu li a:first-child {
						border-top: 0;
					}
	#text-content {
		flex: 1;
		margin-left: 0;
		position: relative;
	}
}
@media screen and (min-width: 480px) and (max-width: 599px) {
	#text-tag-menu {
		top: 56px;
		left: 0;
		width: 100%;
		position: absolute;
	}
		#text-tag-menu ul {
			width: 100%;
		}
	ul#target-menu {
		margin: 0;
		padding: 0;
		background-image: url("../images/nav_back_image.png");
		background-color: rgba(255,255,255,0.5);
		background-color: -webkit-rgba(255,255,255,0.5);
		background-color: -moz-rgba(255,255,255,0.5);
		background-color: -ms-rgba(255,255,255,0.5);
		background-color: -o-rgba(255,255,255,0.5);
		background-blend-mode: lighten;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		overflow: hidden;
		text-align: center;
	}
		ul#target-menu li {
				padding: 15px 20px;
				text-align: center;
				display: inline-block;
		}
			ul#target-menu li a{
				display: block;
				text-decoration: underline;
			}
					ul#target-menu li a:first-child {
						border-top: 0;
					}
	#text-content {
		flex: 1;
		position: relative;
	}
}
@media screen and (max-width: 479px) {
	#text-tag-menu {
		top: 56px;
		left: 0;
		width: 100%;
		position: absolute;
	}
		#text-tag-menu ul {
			width: 100%;
		}
	ul#target-menu {
		margin: 0;
		padding: 0;
		background-image: url("../images/nav_back_image.png");
		background-color:rgba(255,255,255,0.5);
		background-color: -webkit-rgba(255,255,255,0.5);
		background-color: -moz-rgba(255,255,255,0.5);
		background-color: -ms-rgba(255,255,255,0.5);
		background-color: -o-rgba(255,255,255,0.5);
		background-blend-mode:lighten;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		overflow: hidden;
		text-align: center;
		border-bottom: 2px solid #000;
	}
		ul#target-menu li {
				padding: 15px 20px;
				text-align: center;
				display: inline-block;
		}
			ul#target-menu li a{
				display: block;
				text-decoration: underline;
			}
					ul#target-menu li a:first-child {
						border-top: 0;
					}
	#text-content {
		flex: 1;
		margin-left: 0;
		margin-top: 120px;
		position: relative;
	}
}