/*--------------------------------------------------
	--------------------------------------------------*/
.main_content_black,.main_content_blue,.main_content_red,.main_content_pink,.main_content_green,.main_content_orange,.main_content_purple {
	margin: 10px 0;
}
	.main_title_black a,.main_title_blue a,.main_title_red a,.main_title_pink a,.main_title_green a,.main_title_orange a,.main_title_purple a,.writing_day_black,.writing_day_blue,.writing_day_red,.writing_day_pink,.writing_day_green,.writing_day_orange,.writing_day_purple,.main_summary {
		display: block;
		padding: 15px 20px;
	}
	.main_title_black a,.main_title_blue a,.main_title_red a,.main_title_pink a,.main_title_green a,.main_title_orange a,.main_title_purple a {
		font-weight: bold;
	}

			.main_content_black {border: 1px solid #333;}
				.writing_day_black {border-top: 1px solid #333;}
			.main_content_blue {border: 1px solid #00C;}
				.writing_day_blue {border-top: 1px solid #00C;}
			.main_content_red {border: 1px solid #600;}
				.writing_day_red {border-top: 1px solid #600;}
			.main_content_pink {border: 1px solid #F0C;}
				.writing_day_pink {border-top: 1px solid #F0C;}
			.main_content_green {border: 1px solid #069;}
				.writing_day_green {border-top: 1px solid #069;}
			.main_content_orange {border: 1px solid #C00;}
				.writing_day_orange {border-top: 1px solid #C00;}
			.main_content_purple {border: 1px solid #63C;}
				.writing_day_purple {border-top: 1px solid #63C;}

.main_title_black a {
	background: linear-gradient(to right, #333, #ccc);
	color: #eee;
}
.main_title_blue a {
	background: linear-gradient(to right, #00C, #75A9FF);
	color: #CFF;
}
.main_title_red a {
	background: linear-gradient(to right, #600, #FF0461);
	color: #C33;
}
.main_title_pink a {
	background: linear-gradient(to right, #F0C, #F9F);
	color: #600;
}
.main_title_green a {
	background: linear-gradient(to right, #099, #CFF);
	color: #030;
}
.main_title_orange a {
	background: linear-gradient(to right, #F00, #FFC);
	color: #600;
}
.main_title_purple a {
	background: linear-gradient(to right, #63C, #DCC2FF);
	color: #306;
}
/*-----------------------------------*/
