/*-------------------------------------------------------*/
#decoration span {
	padding: 0px 5px;
	letter-spacing: 0;
}
	#decoration span::before {
		content: "―――";
	}
#decoration p {
	font-weight: 400;
}
/*-----------------------------*/
#decoration {
	letter-spacing: 4px;
	line-height: 2;
}