#splash {
  background-color: black;  /* 初期背景は黒 */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1; /* 初期は不透明 */
  transition: opacity 2s ease-out;
  display: flex;  /* フェードアウト時に表示させるため、flexを使って中央配置 */
  justify-content: center;
  align-items: center;
}

/* スマホ画面では画像を使う */
@media screen and (max-width: 600px) {
  #splash {
    background-image: url('https://wasteland-rose.github.io/Fragments-of-a-dream/images/splash-bg.jpg');
    background-color: transparent;
  }
}