.Bla, .BR, .R, .Pi, .Pu, .Blu, .G, .O {
	margin: 30px 0;
}
.Title_Bla a, .Title_BR a, .Title_R a, .Title_Pi a, .Title_Pu a, .Title_Blu a, .Title_G a, .Title_O a,
.Plot_Bla a, .Plot_BR a, .Plot_R a, .Plot_Pi a, .Plot_Pu a, .Plot_Blu a, .Plot_G a, .Plot_O a {
	padding: 15px 25px;
	display: block;
	font-weight: 600;
}
.Tag_Bla, .Tag_BR, .Tag_R, .Tag_Pi, .Tag_Pu, .Tag_Blu, .Tag_G, .Tag_O,
.Summary_Bla, .Summary_BR, .Summary_R, .Summary_Pi, .Summary_Pu, .Summary_Blu, .Summary_G, .Summary_O,
.Writing_Bla, .Writing_BR, .Writing_R, .Writing_Pi, .Writing_Pu, .Writing_Blu, .Writing_G, .Writing_O {
	padding: 15px;
}

			/*-- Black --*/
.Bla {
	border: 1px solid #111;
}
	.Summary_Bla, .Writing_Bla, .Plot_Bla {
		border-top: 1px solid #111;
	}
			/*-- BR and Red, + Red --*/
.BR {
	border: 1px solid #900;
}
	.Summary_BR, .Writing_BR, .Plot_BR {
		border-top: 1px solid #900;
	}
			/*-- Red --*/
.R {
	border: 1px solid #600;
}
	.Summary_R, .Writing_R {
		border-top: 1px solid #600;
	}
			/*-- Pink --*/
.Pi {
	border: 1px solid #F0C;
}
	.Summary_Pi, .Writing_Pi, .Plot_Pi {
		border-top: 1px solid #F0C;
	}
			/*-- Purple --*/
.Pu {
	border: 1px solid #63C;
}
	.Summary_Pu, .Writing_Pu, .Plot_Pu {
		border-top: 1px solid #63C;
	}
			/*-- Blue --*/
.Blu {
	border: 1px solid #00C;
}
	.Summary_Blu, .Writing_Blu, .Plot_Blu {
		border-top: 1px solid #00C;
	}
			/*-- Green --*/
.G {
	border: 1px solid #069;
}
	.Summary_G, .Writing_G, .Plot_G {
		border-top: 1px solid #069;
	}
			/*-- Orange --*/
.O {
	border: 1px solid #C00;
}
	.Summary_O, .Writing_O, .Plot_O {
		border-top: 1px solid #C00;
	}
/*--------------------------------------------------*/
.Title_Bla a {
	background: linear-gradient(to right, #333, #ccc);
	background: -webkit-linear-gradient(to right, #333, #CCC);
	background: -moz-linear-gradient(to right, #333, #CCC);
	background: -ms-linear-gradient(to right, #333, #CCC);
	background: -o-linear-gradient(to right, #333, #CCC);
	color: #eee;
}
	.Plot_Bla a {
		background: linear-gradient(to right, #ccc, #eee);
		background: -webkit-linear-gradient(to right, #ccc, #eee);
		background: -moz-linear-gradient(to right, #ccc, #eee);
		background: -ms-linear-gradient(to right, #ccc, #eee);
		background: -o-linear-gradient(to right, #ccc, #eee);
		color: #333;
	}
.Title_BR a {
	background: linear-gradient(to right, #000, #FF0000);
	background: -webkit-linear-gradient(to right, #333, #FF0000);
	background: -moz-linear-gradient(to right, #333, #FF0000);
	background: -ms-linear-gradient(to right, #333, #FF0000);
	background: -o-linear-gradient(to right, #333, #FF0000);
	color: #900;
}
	.Plot_BR a {
		background: linear-gradient(to right, #FF0000, #333);
		background: -webkit-linear-gradient(to right, #FF0000, #333);
		background: -moz-linear-gradient(to right, #FF0000, #333);
		background: -ms-linear-gradient(to right, #FF0000, #333);
		background: -o-linear-gradient(to right, #FF0000, #333);
		color: #900;
	}
.Title_R a {
	background: linear-gradient(to right, #600, #FF0461);
	background: -webkit-linear-gradient(to right, #600, #FF0461);
	background: -moz-linear-gradient(to right, #600, #FF0461);
	background: -ms-linear-gradient(to right, #600, #FF0461);
	background: -o-linear-gradient(to right, #600, #FF0461);
	color: #C33;
}
	.Plot_R a {
		background: linear-gradient(to right, #C33, #eee);
		background: -webkit-linear-gradient(to right, #C33, #eee);
		background: -moz-linear-gradient(to right, #C33, #eee);
		background: -ms-linear-gradient(to right, #C33, #eee);
		background: -o-linear-gradient(to right, #C33, #eee);
		color: #600;
	}
.Title_Pi a {
	background: linear-gradient(to right, #F0C, #F9F);
	background: -webkit-linear-gradient(to right, #F0C, #F9F);
	background: -moz-linear-gradient(to right, #F0C, #F9F);
	background: -ms-linear-gradient(to right, #F0C, #F9F);
	background: -o-linear-gradient(to right, #F0C, #F9F);
	color: #600;
}
	.Plot_Pi a {
		background: linear-gradient(to right, #F0C, #F9F);
		background: -webkit-linear-gradient(to right, #F0C, #F9F);
		background: -moz-linear-gradient(to right, #F0C, #F9F);
		background: -ms-linear-gradient(to right, #F0C, #F9F);
		background: -o-linear-gradient(to right, #F0C, #F9F);
		color: #600;
	}
.Title_Pu a {
	background: linear-gradient(to right, #63C, #DCC2FF);
	background: -webkit-linear-gradient(to right, #63C, #DCC2FF);
	background: -moz-linear-gradient(to right, #63C, #DCC2FF);
	background: -ms-linear-gradient(to right, #63C, #DCC2FF);
	background: -o-linear-gradient(to right, #63C, #DCC2FF);
	color: #DCC2FF;
}
	.Plot_Pu a {
		background: linear-gradient(to right, #63C, #DCC2FF);
		background: -webkit-linear-gradient(to right, #63C, #DCC2FF);
		background: -moz-linear-gradient(to right, #63C, #DCC2FF);
		background: -ms-linear-gradient(to right, #63C, #DCC2FF);
		background: -o-linear-gradient(to right, #63C, #DCC2FF);
		color: #DCC2FF;
	}
.Title_Blu a {
	background: linear-gradient(to right, #00C, #75A9FF);
	background: -webkit-linear-gradient(to right, #00C, #75A9FF);
	background: -moz-linear-gradient(to right, #00C, #75A9FF);
	background: -ms-linear-gradient(to right, #00C, #75A9FF);
	background: -o-linear-gradient(to right, #00C, #75A9FF);
	color: #CFF;
}
	.Plot_Blu a {
		background: linear-gradient(to right, #75A9FF, #eee);
		background: -webkit-linear-gradient(to right, #75A9FF, #eee);
		background: -moz-linear-gradient(to right, #75A9FF, #eee);
		background: -ms-linear-gradient(to right, #75A9FF, #eee);
		background: -o-linear-gradient(to right, #75A9FF, #eee);
		color: #00C;
	}
.Title_G a {
	background: linear-gradient(to right, #099, #CFF);
	background: -webkit-linear-gradient(to right, #099, #CFF);
	background: -moz-linear-gradient(to right, #099, #CFF);
	background: -ms-linear-gradient(to right, #099, #CFF);
	background: -o-linear-gradient(to right, #099, #CFF);
	color: #030;
}
	.Plot_G a {
		background: linear-gradient(to right, #099, #CFF);
		background: -webkit-linear-gradient(to right, #099, #CFF);
		background: -moz-linear-gradient(to right, #099, #CFF);
		background: -ms-linear-gradient(to right, #099, #CFF);
		background: -o-linear-gradient(to right, #099, #CFF);
		color: #030;
	}
.Title_O a {
	background: linear-gradient(to right, #F00, #FFC);
	background: -webkit-linear-gradient(to right, #F00, #FFC);
	background: -moz-linear-gradient(to right, #F00, #FFC);
	background: -ms-linear-gradient(to right, #F00, #FFC);
	background: -o-linear-gradient(to right, #F00, #FFC);
	color: #600;
}
	.Plot_O a {
		background: linear-gradient(to right, #F00, #FFC);
		background: -webkit-linear-gradient(to right, #F00, #FFC);
		background: -moz-linear-gradient(to right, #F00, #FFC);
		background: -ms-linear-gradient(to right, #F00, #FFC);
		background: -o-linear-gradient(to right, #F00, #FFC);
		color: #600;
	}
