/*-------------------------------------------------------
										Text
　-------------------------------------------------------*/

#decoration {
	letter-spacing: 2px;
	line-height: 25px;
}

/*------------------------- Other -------------------------*/

#decoration span.two::before {
	content: "――";
}
#decoration span.three::before {
	content: "―――";
}
#decoration span.four::before {
	content: "――――";
}
#decoration span.five::before {
	content: "―――――";
}
	#decoration span.two,#decoration span.three,#decoration span.four,#decoration span.five,#decoration span.three-reader_three,#decoration span.three-reader_two  {
		margin: 0 2px;
		letter-spacing: -0.1px;
	}

#decoration p {
	font-weight: 400;
}

#decoration p.asta::before {
	content: "　　　＊　＊　＊";
	font-weight: 600;
}

#decoration span.three-reader_three::before {
	content: "………";
}

#decoration span.three-reader_two::before {
	content: "……";
}